body::before {
    content: "";
    position: absolute;
    top: -2px; /* Adjust to match border width */
    left: -2px; /* Adjust to match border width */
    right: -2px; /* Adjust to match border width */
    bottom: -2px; /* Adjust to match border width */
    background-color: #e7e7e7; 
    z-index: -1; 
}

  
  /* Style text sections with white backgrounds */
  .text-section {
	background-color: #fff; /* White background color */
	padding: 10px; /* Add some padding for spacing */
	margin: 10px; /* Add margin to separate text sections */
  border: 1px solid #333;
	border-radius: 0px; /* Add rounded corners for a cleaner look */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
	color: #333; /* Set text color to a dark grey or adjust as needed */
	font-size: 16px; /* Set font size as needed */
	line-height: 1.5; /* Adjust line height for readability */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
	align-items: center; /* Center vertically */
	vertical-align: middle;
	justify-content: center;
	
  }
  
  /* Add styles for text inside text sections */
  .text-section p {
	color: #333; /* Set text color to a dark grey or adjust as needed */
	font-size: 16px; /* Set font size as needed */
	line-height: 1.5; /* Adjust line height for readability */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  text-align: center;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: larger;
    color: #333;
  }
  .pure-g {
	display: flex;
	flex-wrap: wrap;
  padding-left: 50px;
  }