body::before {
    content: "";
    position: absolute;
    top: -2px; /* Adjust to match border width */
    left: -2px; /* Adjust to match border width */
    right: -2px; /* Adjust to match border width */
    bottom: -2px; /* Adjust to match border width */
    background-color: #c7c7c7; 
    z-index: -1; 
}

  
  /* Style text sections with white backgrounds */
  .text-section {
	background-color: #fff; /* White background color */
	padding: 20px; /* Add some padding for spacing */
	margin: 20px; /* Add margin to separate text sections */
	border-radius: 5px; /* Add rounded corners for a cleaner look */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
	border-radius: 0px;
	font-family: 'Open Sans', sans-serif;
	align-items: center; /* Center vertically */
	vertical-align: middle;
	justify-content: center;
	
  }
  
  /* Add styles for text inside text sections */
  .text-section p {
	color: #333; /* Set text color to a dark grey or adjust as needed */
	font-size: 16px; /* Set font size as needed */
	line-height: 1.5; /* Adjust line height for readability */
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  }

  h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
    color: #333;
  }
  .pure-g {
	display: flex;
	flex-wrap: wrap;
  }

  .pure-u-2-3 {
	width: 66.66667%;
	text-align: center;
  }

  .pure-u-1-3 {
	
	width: 33.33333%;
  }